* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background: rgba(115,191,184,.5);
}

h1 {
  background: rgba(35,100,170,.5);
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  text-align: center;
  color: white;
}

p {
  font-weight: bold;
}

.containercurrent {
  display: flex;
}

.containercurrent .current .gensearch .searchinitiate {
  display: flex;
  flex-direction: column;  
  background: rgba(61,165,217,.5);
  border: solid;
  border-radius: 10px;
  border-width:2px;
  padding: 20px 20px 20px 20px; 
  margin-top: 20px;
}

.containercurrent .current .geninfo {
  display: flex;
  flex-direction: column;  
  background: rgba(61,165,217,.5);
  border: solid;
  border-radius: 10px;
  border-width:2px;
  padding: 20px 20px 20px 20px; 
  margin-top: 20px;
}